.home-page-header {
  min-height: 342px;
  max-height: 500px;
  background: url(../../assets/img/collections-01.png) no-repeat;
  background-size: cover;
}

@media (min-width: 1500px) {
  .home-page-header {
    min-height: 450px;
  }
}
