.footer {
  position: relative;
  height: 100px;
}

.footer-pic {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  background: url(../../assets/img/collections-11.png) no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-pic-note {
  margin-top: 180px;
  font-size: 20px;
}

@media (min-width: 1536px) {
  .footer {
    height: 50px;
  }
  .footer-pic {
    height: 335px;
  }
}
